<style>#snakeboard {

    position: absolute;
    top: 100%;
    left: 100%;


}

#score {
    text-align: center;
    font-size: 100px;
    font-family: monospace;
    color: grey;
    text-shadow: 4px 4px 0 green;
    -webkit-text-stroke: 2px white;
}

.position {
    display: flex;
    justify-content: center;

}



body {
    background: #B0E0E6;
}

</style>